html, body {
    margin: 5vh 5vw;
    padding: 0;
    max-height: 100vh;
    max-width: 100vw;
}

.container-fluid {
}
/* NAVBAR */
.navbar {
  background: greenyellow;
  display: flex;
  flex-direction: row;
  margin-bottom: 5vh;
}

/* MAIN */
.main {
  background: blue;
}

/* LEAGUE CARDS */

.league-cards {
  display: flex;
  flex-direction:column;
  height: 100%;
  gap: 5vh;
}

.league-card {
  display: flex;
  flex-direction: column;
}
.league-card img
{
  width: 5%;
}

