.page {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    width: fit-content;
    min-height: 100vh;
    background-color: transparent;
    border-right: 1px solid lightgrey;
    padding: 1%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
}


