.navbar{
    display:flex;
    flex-direction: column;
    height: 100%;
}

.logo
{
    justify-content: center;
    align-items: center;
}

hr{
    border: 1px solid lightgrey;
}

.navbar-top{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.navbar-bottom{
}

.navbar-top, .navbar-bottom{
    width: 100%;
    text-align: center;
}

.navbar-item {
    width: 100%;
}

.navbar-top .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    color: lightgrey;
    text-decoration: none;
}

.navbar-top .logo a:hover{
    color: rgb(207, 207, 90);
    transition: color 0.2s ease;
}

::deep .navbar-item a {
    color: lightgrey;
}

::deep .navbar-item a:hover {
    color: rgb(207, 207, 90);;
    transition: color 0.2s ease;
}

::deep .navbar-item a.active {
    color: rgb(207, 207, 90);;
    transition: color 0.2s ease;
}

::deep .navbar-bottom .navbar-item a:hover {
    color: maroon;
}